<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCATHQTA6wxRAQVueRfrxFyEf__zWOOclg</string>
	<key>GCM_SENDER_ID</key>
	<string>378436886136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misau</string>
	<key>PROJECT_ID</key>
	<string>isuna-d8c30</string>
	<key>STORAGE_BUCKET</key>
	<string>isuna-d8c30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378436886136:ios:a873a3635e053a7fbc578d</string>
</dict>
</plist>